{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}

{% block content %}
    
    <div class="hero">
        <div class="ui stackable page grid">
            <div class="five wide column">
                <center><img class="ui image" src="{% static 'img/oidc.png' %}"></center>
            </div>
            <div class="eleven wide column">
                <h1>Django OIDC Provider</h1>
                <p>This is a Django OpenID Connect Provider using Django Allauth authentication</p>

            </div>
        </div>
    </div>



{% endblock %}