.socialaccount_ballot {
    padding:10px;
    width: 50%;
    margin: 0 auto;
}

.login-or {
  text-align: center;
  font-weight: bold;
  margin: 5px;
}

#provider_list a {

  color: black;
  font-weight: bold;
}

body {
      padding:20px;
}
